.icon{
        height: 200px;
    }
	
.contact{
        height: 60px;
		background-color:black;
    }
.desc{
		color:darkgreen;
	}
.caption{
		color:yellow;
		font-family:Arial;
		font-size:18px;
	}
.tablebg{
		background-color:black;
	}
.padding10{
		padding:10%;
		background-color:white;
	}
.width100{
		width:100%;
	}
.skillSet{
		background-color:black;
		font-family:Arial;
		font-size:54px;
		color:white;
    }
.footerImage{
		text-align: right;
	}
.footerText{
		text-align: left;
	}
p{
		font-family:Arial;
		font-size:24px;
		color:yellow;
}
a{
		text-decoration:italic;
		color:yellow;
}
table{
		width:100%;
		background-color:black;
}


//Taken from https://codepen.io/johanmouchet/pen/jARwrK
.accordion {
	margin: 1rem 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #e5e5e5;
}

.accordion-item {
	border-bottom: 1px solid #e5e5e5;
}

.accordion-thumb {
	margin: 0;
	padding: 10px;
	cursor: pointer;
}
.accordion-panel {
	margin: 0;
	padding-left:15px;
	padding-bottom: 10px;
}
.accordion-item.is-active {
	.accordion-thumb::before {
		transform: rotate(45deg);
	}
}
