<HTML>
<head>
{% load static %}
<link rel="stylesheet" href={% static "bootstrap.css" %}>
<link id="myid" rel="stylesheet" href={% static "Style.css" %}>
<title>Willy Sandi Harsono</title>
</head>
<body>
<script src={% static "jquery.js" %}></script>
<script>
$(function() {
	$(".accordion > .accordion-item.is-active").children(".accordion-panel").slideDown();
	
	$(".accordion > .accordion-item").click(function() {
		$(this).siblings(".accordion-item").removeClass("is-active").children(".accordion-panel").slideUp();
		$(this).toggleClass("is-active").children(".accordion-panel").slideToggle("ease-out");
	});
	$("#changeStyle").click(function(){
	$('#myid').remove();
		$('head').append( $( '<link/>', {'rel' : 'stylesheet', 'id': 'myid', 'href':'{% static "Style2.css" %}' } ));
		});
});
</script>
<table>
	<tr>
		<td><img class="width100" src={% static "Capture.jpg" %}>
</table>
<table class="padding10"><center><button id="changeStyle">Change Style</button>
	<tr>
		<td><img class="padding10">
		<td class="accordion">
			<li class="accordion-item"><h3 class="accordion-thumb">My Education</h3>
			<article class="accordion-panel padding10">
			<p class="desc">
				I’m Willy, a 19-years old student at University of Indonesia,
				majoring in computer science. My goal is balance between my
				studies and my organization. Right now i’m at my third 
				Semester in my studies of computer science. Over the past year, I
				have realized that I would not be able to get to this point
				without my colleagues. As for my organization skills concerned, 
				I have been the staff of logistic department in University of 
				Indonesia’s symphonic orchestra and had been the logistic
				division head for a concert on last January. I've also been a
				principal hornist for 3 concerts.
			</article>
			</td>
</table>

<ul class="accordion skillset">

	<li class="accordion-item">
		<h3 class="accordion-thumb">My Education</h3>
		<ul class="accordion-panel">
		<li><img class="icon" src={% static "serviam.jpg" %}>
				<p class="caption">Santa Maria Elementary School<br>2006-2012</li>
		<li><img class="icon" src={% static "download.png" %}>
				<p class="caption">Canisius College High School<br>2012-2018</li>
		<li><img class="icon" src={% static "makara.png" %}>
				<p class="caption">
				University of Indonesia's Faculty of Computer Science<br>2018-Now</li>
		</ul>
	</li>
</ul>
<ul class="accordion skillset">
	<li class="accordion-item">
		<h3 class="accordion-thumb">My Skills :</h3>
		<ul class="accordion-panel">
		<li><img class="icon" src={% static "cpp.png" %}>
				<p class="caption">C++
		<li><img class="icon" src={% static "python.png" %}>
				<p class="caption">Python
		<li><img class="icon" src={% static "pascal.gif" %}>
				<p class="caption">Pascal
		<li><img class="icon" src={% static "java.png" %}>
				<p class="caption">Java
	</li>
</ul>
</body>
</HTML>
